.card {
    margin: auto;
    padding-top: 80px;
    text-align: center;
}

.card__row {
    flex-direction: row;
    margin: 0 -15px;
    justify-content: center;
}

.card__item {
    margin: 0 15px;
    border-radius: 12px;
    border: 1px solid var(--lines-gray-line);
    transition: box-shadow 0.3s;
    padding: 40px 50px 60px 50px;
}

.card__item:hover {
    background: var(--bg-white);
    box-shadow: 0px 20px 50px 0px rgba(79, 119, 255, 0.20);
}

.card__img {
    padding: 42px 90px 38px;
}

.card__title {
    color: var(--primary-color-black);
    text-align: center;
    font-family: var(--font-primary);
    font-size: 22px;
    font-weight: 400;
    line-height: 1.45;
    letter-spacing: -1px;
    padding-top: 35px;
    padding-bottom: 20px;
}

.card__description {
    color: var(--text-text);
    text-align: center;
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}