.cta__paragraph {
    padding-top: 30px;
    text-align: center;
    color: var(--text-text);
}

.cta__title {
    padding-bottom: 90px;
    flex-direction: column;
    align-items: center;
}

.cta__container {
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 120px;
}

.cta {
    background-color: var(--bg-white);
}