.logo__container {
    display: block;
    margin-top: 120px;
}

.logo__text {
    padding-bottom: 40px;
    color: var(--text-color-black);
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: -1px;
}

.logo__items {
    padding-top: 40px;
    margin: 0 -50px;
    display: flex;
    justify-content: center;
}

.logo__item {
    padding: 0 50px;
}

.logo__row {
    align-items: center;
}

.logo {
    background-color: var(--bg-white);
}