.logo__container {
    display: block;
    margin-top: 120px;
}

.logo__text {
    padding-bottom: 40px;
}

.logo__items {
    padding-top: 40px;
    margin: 0 -50px;
    display: flex;
    justify-content: center;
}

.logo__item {
    padding: 0 50px;
}

.logo__row {
    align-items: center;
}

.logo {
    background-color: var(--bg-white);
}