.pricing__container {
    padding-top: 120px;
    flex-direction: column;
}

.pricing {
    position: relative;
}

.pricing__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 793px;
}

.pricing__box {
    position: relative;
}

.pricing__union {
    position: absolute;
    top: 130px;
    left: 1050px;
}

.pricing__title {
    padding-bottom: 100px;

}

.pricing__title-heading {
    padding-bottom: 30px;
    color: var(--text-heading);
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -2px;
}

.pricing__title-paragraph {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.45;
    letter-spacing: -1px;
    text-align: center;
    color: var(--text-text);
}

.pricing__tag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -16px;
    padding-bottom: 100px;
}

.pricing__tag-item {
    padding: 0 16px;
    color: var(--text-text);
    text-align: center;
    font-family: var(--font-secondary);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: -0.3px;
}

[class^="pricing__table"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--lines-gray-line);
    background: var(--bg-white);
}

.pricing__table-1 {
    margin-right: 15px;
}

.pricing__table-2 {
    margin-left: 15px;
}

.pricing__price {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pricing__price-perMonth {
    padding: 20px 0 10px 0;
    color: var(--text-heading);
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: -1px;

    span {
        font-size: 64px;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: -2px;
    }
}

.pricing__type {
    padding-top: 35px;
    color: var(--action-blue);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.55;
    letter-spacing: 0.4px;
}

.pricing__paragraph {
    color: #696871;
    text-align: center;
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}

.pricing__price {
    padding-bottom: 30px;
}

.pricing__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-bottom: 40px;
}

.pricing__benefit {
    padding: 10px 0;
    display: flex;
    align-items: center;
    color: var(--text-heading);
    font-size: 22px;
    font-weight: 400;
    line-height: 1.45;
    letter-spacing: -1px;
}

.pricing__icon-check {
    padding-right: 10px;
}