.pricing__container {
    padding-top: 120px;
    flex-direction: column;
}

.pricing {
    position: relative;
}

.pricing__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 793px;
}

.pricing__box {
    position: relative;
}

.pricing__union {
    position: absolute;
    top: 130px;
    left: 1050px;
}

.pricing__title {
    padding-bottom: 100px;

}

.pricing__title-heading {
    padding-bottom: 30px;
}

.pricing__title-paragraph {
    text-align: center;
    color: var(--text-text);
}

.pricing__tag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -16px;
    padding-bottom: 100px;
}

.pricing__tag-item {
    padding: 0 16px;
}

[class^="pricing__table"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--lines-gray-line);
    background: var(--bg-white);
}

.pricing__table-1 {
    margin-right: 15px;
}

.pricing__table-2 {
    margin-left: 15px;
}

.pricing__price {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pricing__price-perMonth {
    padding: 20px 0 10px 0;
    color: var(--text-heading);
}

.pricing__type {
    padding-top: 35px;
    color: var(--action-blue);
}

.pricing__paragraph {
    color: #696871;
}

.pricing__price {
    padding-bottom: 30px;
}

.pricing__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-bottom: 40px;
}

.pricing__benefit {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.pricing__icon-check {
    padding-right: 10px;
}