*,
*::after,
*::before {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

:root {
    --grid--container--width: 1300px;
    --grid: 12;
    --nav-gap: 30px;

}

.container {
    max-width: var(--grid--container--width);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
}

.background--light {
    background-color: var(--bgbg-light-alt);
}