[class^="item"] {
    color: var(--text-text);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.3px;
    text-transform: uppercase;
    text-decoration: none;
}

.item-home {
    color: var(--text-heading);
}

.content__title {
    color: var(--text-heading);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Outfit', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 500;
    line-height: 78px;
    letter-spacing: -2px;
}

.content__paragraph {
    color: var(--text-text);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.3px;
}

.title__inline {
    background: var(--Purple-Gradient, linear-gradient(186deg, #61DCDF 0.38%, #886CFF 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Outfit', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 500;
    line-height: 78px;
    letter-spacing: -2px;
}

.button {
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.3px;
    text-transform: uppercase;
}

.play__text {
    color: var(--text-heading);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.3px;
    text-transform: uppercase;
}