.gallery {
    background-color: var(--bg-white);
}

.gallery__row {
    justify-content: center;
    align-items: center;
}

.gallery__container {
    padding-top: 120px;
    padding-bottom: 120px;
    position: relative;
}



.gallery__content {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 100px;
}



.gallery__img {
    padding-right: 130px;
}


.gallery__heading {
    padding-bottom: 40px;
}

.gallery__link {
    display: flex;
    align-items: center;
}

.gallery__link-text {
    display: flex;
    align-items: center;
}

.gallery__paragraph {
    padding-bottom: 60px;
    text-align: unset;
}


.gallery__icon {
    padding-left: 10px;
}

.img__text {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.img__heading {
    display: flex;
    justify-content: space-between;
}

.img__price {
    color: var(--text-text);
}

.gallery__union {
    position: absolute;
    right: 1310px;
    bottom: 275px
}

.img__text-description {
    padding-top: 25px;
    text-align: unset;
}

.gallery__arrow-group {
    display: flex;
    padding-top: 100px;
    padding-left: 10px;
}

.gallery__arrow {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: var(--bg-white);
    position: relative;
    border: 1px solid var(--lines-gray-line);
}

.gallery__arrow-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery__arrow--left {
    margin-right: 15px;
}

.gallery__arrow:hover {
    filter: drop-shadow(0px 20px 50px rgba(79, 119, 255, 0.20));
}