:root {
    --grid: 12;
    --header-width: 1170px;
    --header-height: 48px;
    --nav-gap: 30px;
    --group-right-gap: 10px;
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.header {
    margin-top: 16px;
}

.menu__item {
    list-style-type: none;
    padding: 0 calc(var(--nav-gap) / 2);
}

.nav__menu {
    position: relative;
    display: flex;
    width: 470px;
    justify-content: center;
    align-items: center;
}


.header__container {
    width: var(--header-width);
    height: var(--header-height);
    flex-shrink: 0;
    margin: auto;
}

.container__row {
    display: flex;
}

.row__group-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.group-right__search-icon {
    width: 24px;
    height: 24px;
    padding: 3px 2.5px 2.042px 3px;
    flex-shrink: 0;
}

.search-icon {
    width: 18.5px;
    height: 18.958px;
    flex-shrink: 0;
}

.group-right__bag-icon {
    position: relative;
    width: 24px;
    height: 24px;
    padding: 2px 3px;
    flex-shrink: 0;
    margin: 0 calc(var(--group-right-gap) * 2);
}

.bag-icon {
    width: 18px;
    height: 20px;
    flex-shrink: 0;

}

.group-right__button {
    width: 129px;
    height: 48px;
    padding: 13px 24px;
    flex-shrink: 0;
    margin-left: var(--group-right-gap);
}

.row__nav {
    position: relative;
    display: flex;
    justify-content: center;
}

.nav__active {
    position: absolute;
    bottom: 20px;
    left: 40px;
    background-color: var(--actiongreen);
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.bag-icon__active {
    position: absolute;
    top: 1px;
    left: 14px;
    background-color: var(--actionred);
    width: 10px;
    height: 10px;
    border-radius: 5px;
}



.col {
    width: calc((var(--col-xs) / var(--grid)) * 100%);

}


@media (min-width:768px) {
    .col {
        width: calc((var(--col-md) / var(--grid)) * 100%);
    }
}

@media (min-width:1200px) {
    .col {
        width: calc((var(--col-xl) / var(--grid)) * 100%);
    }
}