.hero__bg {

    width: 1920px;
    height: 950px;
    flex-shrink: 0;
}

.hero__content {
    width: 770px;
    height: 356.941px;
    flex-shrink: 0;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
}

.content__paragraph {
    margin-top: 39px;
    margin-bottom: 70px;
}

.content__title {
    margin-top: 148px;
    margin-bottom: 0;
}

.content__group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__btn {
    display: inline-flex;
    height: 55.941px;
    padding: 18px 32px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 10px;
}

.content__play {
    width: 169px;
    height: 52px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.play__text {
    width: 110px;
    height: 20px;
    flex-shrink: 0;
    margin-left: 7px;
}

.play__icon {
    width: 52px;
    height: 52px;
    flex-shrink: 0;
    position: relative;

}

.icon__background {
    flex-shrink: 0;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -1;

}

.icon__icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper__image1 {
    width: 221.082px;
    height: 274.254px;
    flex-shrink: 0;
}

.wrapper__image2 {
    width: 150px;
    height: 204.93px;
    flex-shrink: 0;
}

.wrapper__image3 {
    width: 174.737px;
    height: 229.474px;
    flex-shrink: 0;
}

.group4__image4 {
    width: 178.644px;
    height: 259.322px;
    flex-shrink: 0;
}

.hero__images {
    width: 1528px;
    height: 551px;
    flex-shrink: 0;
    position: absolute;
    top: 299px;
    left: 239px;
    right: 151px;
    bottom: 100px;
}

.image__group4 {
    width: 170px;
    height: 170px;
    flex-shrink: 0;
    position: relative;
    top: 381px;
    left: 436px;
    right: 922px;
    bottom: 0px;
}

.image__group3 {
    width: 170px;
    height: 170px;
    flex-shrink: 0;
    position: absolute;
    top: 197px;
    left: 1043px;
    right: 70px;
    bottom: 401px;
}

.image__group2 {
    width: 170px;
    height: 170px;
    flex-shrink: 0;
    position: absolute;
    top: 0px;
    left: 1308px;
    right: 1278px;
    bottom: 243px;
}

.image__group1 {
    width: 170px;
    height: 170px;
    flex-shrink: 0;
    position: absolute;
    top: 56px;
    left: 0px;
    right: 1278px;
    bottom: 243px;
}

.group4__background {
    position: absolute;
    z-index: 1;
}

.group4__image4 {
    position: absolute;
    z-index: 2;
}