.hero {
    background-color: var(--bgbg-light-alt);
}

.hero__container {
    padding-top: 136px;
    padding-bottom: 350px;
}

.hero__row {
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.hero__content {
    flex-direction: column;
    display: flex;
}

.hero__play {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.hero__group {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__paragraph {
    padding: 39px 120px 0;
}

.hero__group-image-1 {
    position: absolute;
    display: flex;
    align-items: end;
    top: 200px;
    right: 1000px;
}

.hero__group-image-2 {
    position: absolute;
    display: flex;
    align-items: end;
    position: absolute;
    bottom: 150px;
    left: 1100px;
}

.hero__group-image-3 {
    position: absolute;
    display: flex;
    align-items: end;
    position: absolute;
    top: 300px;
    left: 800px;
}

.hero__group-image-4 {
    position: absolute;
    display: flex;
    align-items: end;
    position: absolute;
    top: 500px;
    left: 200px;

}

.hero__image-1 {
    padding-right: 10px;
}

.hero__image-2 {
    padding-right: 10px;
}

.hero__image-3 {
    padding-left: 10px;
}

.hero__image-4 {
    padding-left: 10px;
}

.hero__play-btn {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: var(--bg-white);
    position: relative;
}

.hero__play-btn:hover {
    filter: drop-shadow(0px 5px 20px rgba(18, 2, 47, 0.15));
}

.hero__play-btn-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.hero__play-text {
    padding-left: 7px;
    color: var(--text-heading);
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: -0.3px;
    text-transform: uppercase;
}