.images {
    width: 1528px;
    height: 551px;
    flex-shrink: 0;
    position: absolute;
    top: 299px;
    left: 239px;
    right: 151px;
    bottom: 100px;
}

.image-group-4 {
    width: 170px;
    height: 170px;
    flex-shrink: 0;
    position: absolute;
    top: 381px;
    left: 436px;
    right: 922px;
    bottom: 0px;
}

.image-group-3 {
    width: 170px;
    height: 170px;
    flex-shrink: 0;
    position: absolute;
    top: 197px;
    left: 1043px;
    right: 70px;
    bottom: 401px;
}

.image-group-2 {
    width: 170px;
    height: 170px;
    flex-shrink: 0;
    position: absolute;
    top: 0px;
    left: 1308px;
    right: 1278px;
    bottom: 243px;
}

.image-group-1 {
    width: 170px;
    height: 170px;
    flex-shrink: 0;
    position: absolute;
    top: 56px;
    left: 0px;
    right: 1278px;
    bottom: 243px;
}

.wrapper {
    position: relative;
}

.wrapper__background {
    position: absolute;
    z-index: 1;
}

.wrapper__image {
    top: 16px;
    position: absolute;
    z-index: 1;
}