.service__container {
    position: relative;
    padding-top: 120px;
}

.service__row {
    flex-direction: column;
    align-items: center;
}


.service__paragraph {
    padding-top: 30px;
}

.service__bg {
    position: absolute;
    top: 550px;
    left: 1310px;
}

.service__button {
    margin-top: 70px;
}

.service {
    background-color: var(--bg-white);
}